<h2>Hello</h2>
<%= link_to "back", yfcase_path(@yfcase) %>


<!-- http://localhost:3000/yfcases/35/edit -->
<!-- edit_yfcase GET    /yfcases/:id/edit(.:format)                                                         yfcases#edit -->
 <!-- # yfcase_objectbuild_objectplusrates GET    /yfcases/:yfcase_id/objectbuilds/:objectbuild_id/objectplusrates(.:format) -->