/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "show";

@font-face{
	font-family: "Noto Sans TC";
	src : url('/assets/NotoSansTC-Regular');
}

body{
	font-family: "Noto Sans TC","Arial Black",sans-serif;
}

#headingOne{
	margin: 0px;
	padding: 0px;
}

#headingTwo{
	margin: 0px;
	padding: 0px;
}

#headingThree{
	margin: 0px;
	padding: 0px;
}

#headingFour{
	margin: 0px;
	padding: 0px;
}

#headingFive{
	margin: 0px;
	padding: 0px;
}

#headingSix{
	margin: 0px;
	padding: 0px;
}

#headingSeven{
	margin: 0px;
	padding: 0px;
}

#headingEight{
	margin: 0px;
	padding: 0px;
}

.buildchecklisttable{
	border: 2px solid #888;
}

.buildchecklisttable th {
	margin: 3px;
	padding: 3px;	
	text-align: center;
	background-color: NavajoWhite;
}

.buildchecklisttable td {
	margin: 3px;
	padding: 3px;	
	background-color: Snow;
}

.buildchecklisttable td .kkdd{
	text-align: center;
}

.auction-info th{
	margin: 3px;
	padding: 3px;		
}