body{
	font-family: 微軟正黑體;
}

.container{
	width:1200px;
}

.table{
	margin-bottom: 0px;
}

.basedata, .land, .build, .auction, .attachment, .finaldecision{
	border:1px solid #000;
	margin: 0px;
	padding: 0px;
}

.basedata th, .land th, .build th, .auction th, .attachment th, .finaldecision th{
	background-color: #ccc;;
}


.x110000 {
	color:red;
	text-align:center;
}

.x110001 {
	width: 100px;
	border-right:1px dashed #000;
	border-bottom:1px dashed #000;
	text-align: center;
}

.x110002 {
	width: 100px;
	border-right:1px dashed #000;
	border-left:1px dashed #000;
	border-bottom:1px dashed #000;
	text-align: center;
}

.x110003 {
	width: 100px;
	border-right:1px dashed #000;
	border-top:1px dashed #000;
	text-align: center;
}

.x120001 {
	width:auto;
}

.x120002 {
	width:150px;
}

.x120003 {
	width:auto;
}





